/* Hellenica */
@font-face {
    font-family: "Hellenica";
    src: url("./Hellenica/Hellenica.eot");
    src: url("./Hellenica/Hellenica.eot?#iefix") format("embedded-opentype"),
        url("./Hellenica/Hellenica.woff") format("woff"),
        url("./Hellenica/Hellenica.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
