/* COMMON BACKGROUND */
.bottom__wrapper {
    background-color: #a6cfeb;
}
.bottom__container {
    max-width: 1600px;
    margin: 0 auto;
    background-image: url("./questions-img/background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Q&A SECTION */
.questions__inner {
    padding-bottom: 120px;
    position: relative;
}
.questions__title,
.questions__subtitle{
    position: relative;
    z-index: 2;
}

/* ACCORDION AND FORM */
.questions__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}
/* ACCORDION */
.questions__accordion {
    width: 55%;
    padding: 35px 40px;
    background-color: #131334;
    border-radius: 8px;
}
.accordion__item {
    margin-bottom: 15px;
    background-color: #f7f7f7;
    color: #060629;
    list-style-type: none;
    border-radius: 8px;
    position: relative;
}
.accordion__item:nth-child(4) {
    margin-bottom: 0;
}
/* ACCORDION BUTTON */
.accordion__item-title {
    width: 100%;
    padding: 15px 40px 15px 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-align: left;
    font-size: 24px;
    transition: .3s ease;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 2;
}
.accordion__item-title:hover,
.accordion__item-title:focus{
    background-color: #D0D0D0;
}
.accordion__item-title::after {
    content: url("./questions-img/accordion-arrow.svg");
    width: 22px;
    height: 22px;
    transform: translateY(-50%);
    transition: .5s ease;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}
/* ACCORDION FULL TEXT */
.accordion__item-text {
    max-height: 0;
    padding: 0 20px;
    font-size: 20px;
    line-height: 120%;
    transition: .5s;
    overflow: hidden;
}
.accordion__item.active .accordion__item-title{
    background-color: #D0D0D0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.accordion__item.active .accordion__item-title::after{
    transform: translateY(-50%) rotate(90deg);
}
.accordion__item.active .accordion__item-text {
    max-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
}
/* TEXT UNDER ACCORDION */
.questions__accordion-legend{
    margin-top: 30px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
}

/* FORM */
.questions__form{
    width: 40%;
    padding: 35px 40px;
    background-color: #131334;
    border-radius: 8px;
    text-align: center;
}
.questions__form-section{
    margin-bottom: 15px;
}
.questions__form-section:nth-child(3){
    margin-bottom: 0;
}

.questions__form-submit{
    width: 100%;
    margin-top: 25px;
    padding: 15px 0;
}

/* CLOUDS BEHAVIOUR */
#questions__sun{
    animation: rotateSun 60s linear infinite;
    position: absolute;
    top: 350px;
    left: -230px;
    z-index: 1;
}
.questions__cloud{
    animation: 20s linear infinite;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
#questions__cloud-1{
    animation-name: moveCloud;
    top: 160px;
    left: -75px;
}
#questions__cloud-2{
    animation-name: moveCloudReverse;
    animation-delay: 1s;
    top: 260px;
    right: 200px;
}
#questions__cloud-3{
    transform: rotate(-4deg);
    animation-name: moveCloudReverse;
    animation-delay: 2s;
    top: 280px;
    right: -220px;
}
#questions__cloud-4{
    animation-name: moveCloud;
    animation-delay: 4s;
    top: 350px;
    left: -230px;
}
#questions__cloud-5{
    animation-name: moveCloud;
    top: 350px;
    left: 200px;
}
#questions__cloud-6{
    transform: rotate(-2deg);
    animation-name: moveCloudReverse;
    top: 370px;
    right: -200px;
}

/* ANIMATIONS */
@keyframes rotateSun {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(1turn);
    }
}
@keyframes moveCloud {
    10%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 100%;
    }
}
@keyframes moveCloudReverse {
    10%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        right: 100%;
    }
}

/* DEVICE ADAPTATION */
@media(max-width: 1200px){
    #questions__sun{
        left: -130px;
    }
}
@media(max-width: 990px){
    .questions__accordion{
        padding: 25px;
    }
    .accordion__item-title{
        font-size: 22px;
    }
    .questions__form{
        padding: 25px;
    }
    #questions__sun{
        top: 150px;;
    }
}
/* TABLETS */
@media(max-width: 785px){
    .questions__inner{
        padding-bottom: 60px;
    }
    .questions__accordion{
        width: 100%;
        margin-bottom: 25px;
        padding: 15px;
    }
    .accordion__item-title{
        font-size: 20px;
    }
    .accordion__item-text{
        font-size: 18px;
    }
    .questions__accordion-legend{
        font-size: 20px;
    }
    .questions__form{
        width: 100%;
        padding: 15px;
    }
    .questions__form-submit{
        width: auto;
        padding-left: 75px;
        padding-right: 75px;
    }
    #questions__sun{
        top: 50px;
        left: -50px;
    }
}
/* MOBILE PHONES */
@media(max-width: 580px){
    .accordion__item-title{
        padding: 10px 30px 10px 10px;
    }
    .accordion__item-title::after{
        right: 5px;
    }
    .accordion__item-text{
        padding: 0 10px;
    }
    .accordion__item.active .accordion__item-text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .questions__accordion-legend{
        font-size: 18px;
    }
}