.aboutus {
    background: linear-gradient(180deg, #030316, #040319, #05041c, #05041e, #060521, #060524, #060626, #060629);
}
.aboutus__inner {
    padding: 40px 0 75px;
    position: relative;
}

.aboutus__wrapper {
    margin-left: -25px;
    padding: 0 75px 50px 25px;
    border: 1px solid transparent;
    position: relative;
}
.aboutus__wrapper-background {
    width: 100%;
    height: 100%;
    background-image: url("./aboutus-img/aboutus-background.svg");
    background-size: 0% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.2s linear;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.aboutus-highlighted .aboutus__wrapper-background {
    background-size: 100% 100%;
    opacity: 1;
}

/* CONTENT */
.aboutus__wrapper-content {
    position: relative;
    z-index: 2;
}
.aboutus__subtitle {
    margin-top: 50px;
}
.aboutus__text {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}
.aboutus__subtitle,
.aboutus__text {
    position: relative;
    z-index: 2;
}

/* FLASHLIGHT */
.aboutus__flashlight {
    animation: flashlightHovering 5s linear infinite;
    user-select: none;
    position: absolute;
    top: 55%;
    left: -145px;
    z-index: 1;
}
.aboutus__flashlight:hover {
    animation-play-state: paused;
}
.aboutus__flashlight::after {
    content: "";
    width: 0;
    height: 71px;
    background-image: url("./aboutus-img/lightway.svg");
    opacity: 0;
    transition: 0.2s linear;
    position: absolute;
    top: -27px;
    left: 45px;
    z-index: 1;
}
.aboutus__flashlight.flashlight-active::after {
    width: 86px;
    opacity: 1;
}
.aboutus__flashlight img {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.aboutus__flashlight-btn {
    width: 10px;
    height: 5px;
    background-color: #ff9a00;
    transition: 0.15s linear;
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 25px;
    z-index: 1;
}
.aboutus__flashlight-btn-active {
    transform: rotate(-45deg);
}

/* SATELLITE */
.aboutus__satellite {
    animation: satelliteAnim 3s linear infinite;
    position: absolute;
    top: -40px;
    left: -244px;
    z-index: 1;
}

/* ANIMATIONS */
@keyframes flashlightHovering {
    50% {
        transform: translateY(-20px);
    }
}
@keyframes flashlightHoveringAlt {
    0%,
    100% {
        transform: translateX(-50%) rotate(-90deg);
    }
    50% {
        transform: translateX(-50%) translateY(-20px) rotate(-90deg);
    }
}

@keyframes satelliteAnim {
    50% {
        opacity: 0.7;
        transform: translateX(-10px) translateY(20px);
    }
}
@keyframes satelliteAnimAlt {
    0%,
    100% {
        transform: scale(0.6);
    }
    50% {
        opacity: 0.7;
        transform: translateX(-10px) translateY(15px) scale(0.6);
    }
}

/* DEVICE ADAPTATION */
@media (max-width: 1300px) {
    .aboutus__flashlight {
        left: -120px;
    }
}
@media (max-width: 1250px) {
    .aboutus__flashlight {
        left: -100px;
    }
}
@media (max-width: 1200px) {
    .aboutus__inner {
        padding-bottom: 200px;
    }
    .aboutus__wrapper-background {
        background-size: 100% 0%;
        background-position: bottom;
    }
    .aboutus-highlighted .aboutus__wrapper-background {
        background-size: 100% 100%;
    }
    .aboutus__flashlight {
        animation-name: flashlightHoveringAlt;
        top: calc(100% + 110px);
        left: 50%;
    }
    .aboutus__satellite {
        left: auto;
        right: 0;
    }
}
@media (max-width: 990px) {
    .aboutus__flashlight {
        top: calc(100% + 75px);
    }
    .aboutus__text {
        font-size: 22px;
    }
}
/* TABLETS */
@media (max-width: 785px) {
    .aboutus__inner {
        padding: 20px 0 100px;
    }
    .aboutus__wrapper {
        padding-right: 0;
    }
    .aboutus__subtitle {
        margin-top: 25px;
    }
    .aboutus__text {
        padding-right: 50px;
        font-size: 20px;
    }
    .aboutus__satellite {
        animation-name: satelliteAnimAlt;
        left: 0;
        right: auto;
    }
}
/* MOBILE PHONES */
@media (max-width: 580px) {
    .aboutus__text {
        margin-top: 20px;
    }
    .aboutus__flashlight {
        top: calc(100% + 50px);
    }
    .aboutus__satellite {
        top: -60px;
        left: auto;
        right: -50px;
    }
}