@import url("./hamburger.css");

.header {
    background-color: #000000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}

/* LOGO */
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo:hover .header__logo-img svg {
    animation: rotateMoon 0.5s ease;
}
.header__logo-text {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-left: 8px;
}
.header__logo-text span {
    font-family: "Hellenica";
    font-size: 20px;
    font-variant: small-caps; /* use it to show the alternative font symbols */
    text-transform: uppercase;
    color: #f7f7f7;
    line-height: 26px;
}
.header__logo-text span:first-child {
    margin-top: -7px; /* align text to match the layout design*/
}

/* NAVIGATION */
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav-list {
    display: flex;
}
.header__nav-link {
    margin-right: 45px;
    list-style-type: none;
}
.header__nav-link:last-child {
    margin-right: 0px;
}
.header__nav-link::marker {
    display: none;
}
.header__nav-link a {
    font-size: 20px;
    line-height: 24.38px;
    color: #fff;
    position: relative;
}
.header__nav-link a::after {
    visibility: hidden;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff9a00;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s ease;
    cursor: default;
    position: absolute;
    left: 0;
    bottom: -3px;
    z-index: -1;
}
.header__nav-link a:hover::after {
    visibility: visible;
    opacity: 1;
    bottom: -10px;
    z-index: 1;
}
.header__nav-btn {
    display: none;
}

/* STARS BEHAVIOUR */
.header .blinking-star {
    top: 60px;
    left: -150px;
}

/* ANIMATIONS */
@keyframes rotateMoon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* DEVICE ADAPTATION */
@media (max-width: 990px) {
    .header__inner {
        padding-top: 30px;
    }
    .header__nav-link {
        margin-right: 25px;
    }
}
/* TABLETS */
@media (max-width: 785px) {
    .header__inner {
        padding-top: 20px;
    }
    .header__nav-btn {
        display: inline-block;
    }
    .header__nav {
        height: 0;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(255, 154, 0, 0.8) 100%
        );
        opacity: 0;
        transition: 0.5s ease-out;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .header__nav.show-nav {
        height: 100%;
        opacity: 1;
        top: 0;
        z-index: 99;
    }
    .header__nav-list {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header__nav-link:last-child {
        margin-right: 25px;
    }
    .header__nav-link:last-child a::after {
        background-color: #000000;
    }
    .header .blinking-star {
        top: 30px;
        left: 250px;
    }
}
/* MOBILE PHONES */
@media (max-width: 580px) {
    .header__inner {
        padding-top: 10px;
    }
}
