.star {
    user-select: none;
    position: absolute;
    z-index: 1;
}

.blinking-star {
    animation: blinkingStar 10s ease infinite;
}
.regular-star {
    animation: regularStar 45s ease infinite;
}
.comet {
    animation: comet 15s linear 2s infinite;
}

/* ANIMATIONS */
@keyframes blinkingStar {
    0% {
        transform: scale(1);
    }
    50% {
        filter: drop-shadow(0 0 10px white);
        transform: scale(0.2) rotate(-20deg);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes regularStar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes comet {
    10% {
        opacity: 1;
    }
    20%,
    100% {
        transform: rotate(10deg) translateY(-30px) scale(0.5);
        opacity: 0;
        left: 35%;
    }
}

@keyframes cometReverse {
    10% {
        opacity: 1;
    }
    20%,
    100% {
        transform: rotate(-10deg) translateY(-30px) scale(0.5);
        opacity: 0;
        right: 35%;
    }
}
