@import url("./tools.css");
@import url("../components/header/header.css");
@import url("../components/intro/intro.css");
@import url("../components/achievements/achievements.css");
@import url("../components/about us/aboutus.css");
@import url("../components/gallery/gallery.css");
@import url("../components/stars/stars.css");

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

html,
body {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

section {
    overflow: hidden;
}
