/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 25px;
}

/* TITLE */
.title {
    margin-bottom: 50px;
    color: #f7f7f7;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}
.subtitle {
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
}
.title-highlight,
.subtitle-highlight {
    color: #ff9a00;
}

/* BUTTONS */
.button {
    display: inline-block;
    color: #f7f7f7;
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.button:hover {
    box-shadow: 0 0 5px #ff9a00;
}
.btn-primary {
    background-color: #ff9a00;
}
.btn-secondary {
    background-color: transparent;
    border: 3px solid #ff9a00;
}
.btn-secondary:hover {
    background-color: #ff9a00;
}

/* FORM CONTROLS */
.form-section{
    text-align: left;
}
.form-section-label {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 120%;
    cursor: pointer;
}
.form-section-input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: inherit;
    color: #ffffff;
    border: 2px solid #f7f7f7;
    border-radius: 8px;
    outline: none;
    font-size: 24px;
    line-height: 125%;
    transition: 0.3s ease;
}
.form-section-input:focus {
    border-color: #ff9a00;
}
.form-section-input::placeholder {
    color: rgba(255, 154, 0, 0.3);
}

/* NOTIFICATION  */
.notification {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 25px;
    color: #f7f7f7;
    background-color: #ff9a00;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    transform: translateY(-110%);
    animation: 5s ease-out 1;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 10;
}

/* ANIMATIONS */
@keyframes showNotification {
    0%{
        transform: translateY(-100%);
    }
    10%{
        transform: translateY(0);
        padding-top: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    20%{
        padding-top: 15px;
    }
    90%{
        transform: translateY(0);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    100%{
        transform: translateY(-100%);
    }
}

/* DEVICE ADAPTATION */
@media (max-width: 990px) {
    .container {
        padding: 0 20px;
    }
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 30px;
    }
}
/* TABLETS */
@media (max-width: 785px) {
    .container {
        padding: 0 15px;
    }
    .title {
        margin-bottom: 25px;
        font-size: 40px;
    }
    .subtitle {
        margin-bottom: 15px;
        font-size: 28px;
    }
    .title,
    .subtitle {
        text-align: center;
    }
    .form-section-label {
        font-size: 16px;
    }
    .form-section-input {
        padding: 10px;
        font-size: 20px;
    }
    .notification{
        max-width: 400px;
        padding: 10px;
        font-size: 20px;
    }
}
/* MOBILE PHONES */
@media (max-width: 580px) {
    .container {
        padding: 0 10px;
    }
    .title {
        font-size: 36px;
    }
    .subtitle {
        font-size: 24px;
    }
}
