.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 25px;
}

.title{
    color: #F7F7F7;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}
.title-highlight{
    color: #FF9A00;
}
.button{
    display: inline-block;
    color: #F7F7F7;
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: .5s ease-in;
}
.button:hover{
    box-shadow: 0 0 5px #FF9A00;
}
.btn-primary{
    background-color: #FF9A00;
}
.btn-secondary{
    background-color: transparent;
    border: 3px solid #FF9A00;
}
.btn-secondary:hover{
    background-color: #FF9A00;
}

@media (max-width: 990px){
    .container{
        padding: 0 20px;
    }
    .title{
        font-size: 50px;
    }
}
@media (max-width: 785px){
    .container{
        padding: 0 15px;
    }
    .title{
        font-size: 40px;
    }
}
@media (max-width: 580px){
    .container{
        padding: 0 10px;
    }
    .title{
        font-size: 35px;
    }
}